.footer {
  font-size: 1.1rem;
  letter-spacing: -0.01rem;
  border-top: 0.1rem solid #ccc;
  padding: 3rem 0 5rem;

  .inner {
    @include center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    opacity: 0.4;
    width: 7rem;
    height: 1.35rem;
  }
}
